@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    @apply border-2 border-sky-500 pointer-events-none

  }
  
  .prev.disabled,
  .next.disabled {
    pointer-events: none;
    box-shadow: none;
    color: #999;
  }

  .LazyLoad {
    opacity: 0;
    transition: all 1s ease-in-out;
  }
  
  .is-visible {
    @apply opacity-100
  }
  .Mui-selected{
    @apply w-max bg-sky-900
}